#index p.rubric { font-size:150%; font-weight:normal; margin-bottom:.2em; color:#252; }

#index div.section dt { font-weight: normal; }

#index #s-nutshell, #index #s-getting-involved {
    background:none repeat scroll 0 0 #F0F7F0;
    margin: 2em 0 2em 2em;

    border-radius:6px 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px 6px;

    box-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.6);

    overflow:visible;
    float:right;
    clear:both;
    margin:2em 0 2em 2em;
    padding:1em;
    width: 400px;
}
#index #s-nutshell, #index #s-getting-involved a {color: #386848}
#index #s-nutshell, #index #s-getting-involved h1 {color: #333}
#index #s-nutshell, #index #s-getting-involved h2 { margin: 0; }
#index #s-nutshell, #index #s-getting-involved strong { font-size: 20px;}

#index #s-getting-involved {
    padding: 2em 0 2em 6em;
    background:#FFFFD0;
    width: 356px;
}
#index #s-getting-involved h1 {
    font-weight: bold;
    margin: 0;
}
#index #s-getting-involved a {
    font-weight: bold;
    font-size: 14px;
    color: #666630;
}
