#index p.rubric { font-size:150%; font-weight:normal; margin-bottom:.2em; color:#252; }

#index div.section dt { font-weight: normal; }

#index #s-quickstart { float: right; width: 35em; background: #E5F8AA; padding: 1em; margin: 2em 0 2em 2em; }
#index #s-quickstart a {color: #386848}
#index #s-quickstart h1 {color: #333}
#index #s-quickstart h2 { margin: 0; }
#index #s-quickstart strong { font-size: 20px;}
#index #s-quickstart pre { font-size:small; background:#222; border-width:1px 0; margin: 1em 0; padding: .3em .4em; overflow: hidden; line-height: 1.3em; color: #CCC}
