#index p.rubric { font-size:150%; font-weight:normal; margin-bottom:.2em; color:#252; }

#index div.section dt { font-weight: normal; }

#index #s-nutshell { float: right; width: 35em; background: #F3FFC7; padding: 1em; margin: 2em 0 2em 2em; }
#index #s-nutshell a {color: #386848}
#index #s-nutshell h1 {color: #333}
#index #s-nutshell h2 { margin: 0; }
#index #s-nutshell pre { font-size:small; background:#333; border:1px solid #80C894; border-width:1px 0; margin: 1em 0; padding: .3em .4em; overflow: hidden; line-height: 1.3em; color: #CCC}
